@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  background: #fff;
  margin: 0 auto;
  max-width: 1440px;
  font-family: "Manrope", sans-serif;
}
.section-spacing {
  padding-left: 150px;
  padding-right: 150px;
}

.box-shadow {
  box-shadow: 10px 10px 80px 0px rgba(35, 10, 136, 0.08);
}

.border-bottom {
  border-bottom: solid rgba(0, 0, 0, 0.1);
}

@layer components {
  .custom-banner-title {
    @apply text-custom-black text-[64px] leading-[120%];

    font-weight: 700;
  }
  .custom-text-gradient {
    @apply bg-gradient-to-r from-blue-light via-blue-light to-blue-dark text-transparent bg-clip-text;
  }
  .custom-bg-gradient {
    background-image: linear-gradient(to right, #5f90f0, #185ad9);
  }
  .custom-center {
    @apply flex justify-center items-center;
  }
  .section-name {
    @apply text-orange text-[14px] font-bold uppercase;
    line-height: 160%;
    letter-spacing: 1.68px;
  }
}
